body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.producto-container {
    width: 320px;
    background-color: #FCE4EC;
    border-radius: 15px;
    box-shadow: 0px 4px 15px #F8BBD0;
    padding: 20px;
    text-align: center;
    border: 3px solid #F06292;
}
.producto-container img {
    width: 100%;
    border-radius: 10px;
    border: 2px solid #F06292;
}
.producto-titulo {
    font-size: 22px;
    font-weight: bold;
    margin: 12px 0;
    color: #EC407A;
}
.producto-descripcion {
    font-size: 16px;
    color: #000000;
    font-style: italic;
}

.producto-container2 {
    width: 320px;
    background-color: #E0F7FA;
    border-radius: 15px;
    box-shadow: 0px 4px 15px #B2EBF2;
    padding: 20px;
    text-align: center;
    border: 3px solid #4DD0E1;
}
.producto-container2 img {
    width: 100%;
    border-radius: 10px;
    border: 2px solid #4DD0E1;
}
.producto-titulo2 {
    font-size: 22px;
    font-weight: bold;
    margin: 12px 0;
    color: #26C6DA;
}
.producto-descripcion2 {
    font-size: 16px;
    color: #000000;
    font-style: italic;
}

.producto-container3 {
    width: 320px;
    background-color: #F3E5F5;
    border-radius: 15px;
    box-shadow: 0px 4px 15px #E1BEE7;
    padding: 20px;
    text-align: center;
    border: 3px solid #BA68C8;
}
.producto-container3 img {
    width: 100%;
    border-radius: 10px;
    border: 2px solid #BA68C8;
}
.producto-titulo3 {
    font-size: 22px;
    font-weight: bold;
    margin: 12px 0;
    color: #AB47BC;
}
.producto-descripcion3 {
    font-size: 16px;
    color: #000000;
    font-style: italic;
}